@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
      url('./fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
  }

@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat'),
        url('./fonts/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat'),
        url('./fonts/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: 'Montserrat';
}

.footer__links {
    font-family: 'Montserrat-Medium';

}

.cart__group {
    font-family: 'Montserrat-Medium';
    font-weight: 600;
}