
.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 350px;
    height: 407px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    position: relative;
}

.card__sale {
    position: absolute;
    left: 383px;
    top: 500px;
}

.card__content_image {
    display: flex;
    justify-content: center;

}

.card__group {
    display: flex;
    gap: 30px;
    justify-content: space-around; 
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card__rate {
    display: flex;
    gap: 10px;

    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    color: #838383;
}

.card__button {
    border: none;
    background-color: #FFFFFF;

    width: 65px;
    height: 21px;

    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    color: #000000;
}

.card__button:hover {
    color: #F36223;
}

.card__button:active {
    color: #A93A09;
}
