.card-image__present {
    width: 219.61px;
    height: 237.07px;
}

.card-image__title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    color: #1C1C27;
}

.card-image__title_price {
    display: flex;
    justify-content: flex-end;

    color: #FFA542;
    font-weight: 600;
}

.card-image__title_price_menu {
    color: #AAAAAA;
    font-family: 'Montserrat';
}

.card-image__title_price_total {
    color: #1C1C27;
    font-family: 'Montserrat';
}
