.cart__title {
    color: #1C1C27;
}

.cart__group {
    display: flex;
    padding-bottom: 150px;
}


.cart__important {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
}

.cart__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex-grow: 3;
}

.cart__selected {
    display: flex;

    height: 218px;
    left: 165px;
    top: 126px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.cart__selected_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px;
}

.cart__cancel {
    display: flex;
    gap: 18px;
}

.cart__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px 0;
    height: 59px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    font-family: 'Montserrat';

}

.cart__button {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;
    height: 65px;
    background-color: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.cart__bottom {
    padding-bottom: 215px;
}
