.characteristic {
    display: flex;
    gap: 0px 30px;
    flex-wrap: wrap;
    padding: 10px 0px 20px;
}

.characteristic-title__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #838383;
}