.footer {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

.footer__card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 29px 27px;
    gap: 30px;    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0px 0px;
}
.footer__title {
    flex-grow: 4;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;  
    color: #101010;
}

.footer__links {
    display: flex;
    justify-content: space-around;
    flex-grow: 5;
}

.group11 {
    display: flex;
    flex-direction: column;
    gap: 0,7px;
}

.frame12 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.frame12__title {
    display: flex;
}

.group28 {
    display: flex;
    gap: 17px;
    font-size: 15px;
    justify-content: space-between;
    font-weight: 500;
}
.group28_selected {
    color: #FFA542;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.group28__ru {
    content: url("../../public/image/RU.svg");
}

.footer__social {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    flex-grow: 4;
}

.vk {
    content: url("../../public/image/VK.svg");
}
.telegram {
    content: url("../../public/image/Telegram.svg");
}
.whatsapp {
    content: url("../../public/image/Whatsapp.svg");
}