.logo__name {
    display: inline-block;
}

.logo__name_headword {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;  
    color: #101010;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 8%;
    padding-bottom: 5px;
}