.my-basket {
    display: flex;
    gap: 45px;
    position: relative;
    padding-right: 20px;
    align-items: center;
}

.my-basket__like:hover > svg > path {
    fill: #F36223;
}

.my-basket__like:active > svg > path {        
    fill: #A93A09;
}

.my-basket__addes:hover > svg > path {
    fill: #F36223;
}

.my-basket__addes:active > svg > path {
    fill: #A93A09;
}

.my-basket__count_like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 17.03%;
    right: 63.98%;
    top: -25%;
    bottom: 50%;
    position: absolute;
    background: #FFA542;
    width: 17,4px;
    height: 17,4px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
}

.my-basket__count_addes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 80.75%;
    right: 1.19%;
    top: -20.67%;
    bottom: 48.33%;
    background: #FFA542;
    width: 17,4px;
    height: 17,4px;
    border-radius: 50px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 15px;
}
