.selected-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selected-product__img {
    padding: 18px;
}

.selected-product__items {
    display: flex;
    justify-content: space-around;
    padding-bottom: 18px;
}

.selected-product__items_plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFCE7F;
    width: 35.17px;
    height: 30px;
    border-radius: 50px;
    border: none;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 15px;

    position: relative;
}

.selected-product__plus {
    position: absolute;
    top: 323px;
}

.selected-product__minus {
    position: absolute;
    top: 329px;
}

.selected-product__items_minus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFCE7F;
    width: 35.17px;
    height: 30px;
    border-radius: 50px;
    border: none;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 15px;
}

.selected-product__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.selected-title__name {
    padding-right: 150px;
}

